/*黑色导航样式开始*/
.black_nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
    color: #b0b0b0;
    font-size: 12px;
}
.wrap{
    width:1226px;
    margin: 0 auto;
}
.nav_left{
    float: left;
}
.black_nav li{
    float: left;
}
.black_nav a{
    color: #b0b0b0;
}
.black_nav span{
    color: #424242;
    margin: 0 5px;
}
.black_nav a:hover{
    color: #fff;
}
.nav_enter{
    float: right;
}
.shopping_car{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 30px;
    /*光标转换为小手*/
    cursor: pointer;
    position: relative;
}
.shopping_car i{
    font-size: 18px;
    margin-right: 3px;
}
.shopping_car:hover{
    background-color: #fff;
    color: #ff6700;
}
.cart{
    width: 316px;
    height:0;
    line-height: 100px;
    background-color: #fff;
    color: #424242;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: hidden;
    transition: all .3s;
    z-index: 55;
}
.shopping_car:hover>.cart{
    height: 100px;
    box-shadow: 0 5px 5px rgba(0,0,0,.15);
}
/*黑色导航样式结束*/
/*白导航条色样式开始*/
.white_nav{
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: relative;
}
.logo{
    float: left;
    margin-top: 21.5px;
}
.white_nav_ul{
    width: 992px;
    float: right;
}
.white_nav_ul>li{
    float: left;
    padding: 0 10px;
}
.white_nav_ul a{
    color: #333;
}
.white_nav_ul a:hover{
    color: #ff6700;
}
.search input{
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    outline: none;
    float: left;
    border-right: none;
    transition: all .2s;
}
.search button{
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    float: left;
    background-color: #fff;
    font-size: 20px;
    transition: all .2s;
}
.white_nav_ul .search{
    float: right;
    margin-top: 25px;
    position: relative;
    text-align: left;
}
.search button:hover{
    background-color: #ff6700;
    color: #fff;
    border-color: #ff6700;
}
.search input:focus{
    border-color: #ff6700;
}
.search input:hover{
    border-color: #b0b0b0;
}
.search input:focus+button{
    border-color: #ff6700;
}
.search input:hover+button{
    border-color: #b0b0b0;
}
.search-hot-words>span{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    transition: all .2s;
    line-height: 18px;
}
.search-hot-words{
    width: 131px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 72px;
    top: 15px;
}
.search-hot-words>span:hover{
    background-color: #ff6700;
    color: #fff;
}
.search input:focus~.search-hot-words{
    display: none;
}
.keyword-list{
    width: 223px;
    padding: 0 10px;
    height: 300px;
    border: 1px solid #ff6700;
    position: absolute;
    left: 10px;
    top: 100%;
    border-top: none;
    display: none;
}
.search input:focus~.keyword-list{
    display: block;
}
.sj_hidden{
    width: 100%;
    height: 230px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    border-top: 2px solid #e0e0e0;
    display: none;
    box-shadow: 0 2px 2px rgba(0,0,0,.15);
    z-index: 66;
}
.white_nav_ul>li:hover>.sj_hidden{
    display: block;
}
/*白导航条色样式结束*/
/*轮播图样式开始*/
.lbt{
    width: 1226px;
    height: 460px;
    background-color: red;
    background: url("../images/xmad_15290281320377_uGhEF.jpg");
    background-size: 100%;
    -webkit-animation:lbt 12s linear infinite alternate;
    position: relative;
}
@-webkit-keyframes lbt {
    0%{
        background-image: url("../images/xmad_15290281320377_uGhEF.jpg");
    }
    20%{
        background-image: url("../images/xmad_15290474375598_QtKJk.jpg");
    }
    40%{
        background-image: url("../images/xmad_15290709211205_dXYfk.jpg");
    }
    60%{
        background-image: url("../images/xmad_15293127351522_gPtTj.jpg");
    }
    80%{
        background-image: url("../images/xmad_15293312810273_ITBMQ.jpg");
    }
    100%{
        background-image: url("../images/xmad_1527868798442_ZNyvb.jpg");
    }
 }
.hdm{
    width: 234px;
    height: 460px;
    background-color: rgba(0,0,0,.5);
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}
.hdm>ul>li{
    line-height: 42px;
    height: 42px;
    text-align: left;
    padding-left: 30px;
}
.hdm>ul>li:hover{
    background-color: #ff6700;
}
.hdm a{
    color: #fff;
}
.hdm i{
    color: rgba(255,255,255,.5);
    float: right;
    margin-right: 30px;
    font-size: 12px;
}
.hdm_hidden{
    width: 992px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    z-index: 99;
}
.hdm li:hover .hdm_hidden{
    display: block;
}
.prev,.next{
    display: block;
    width: 41px;
    height: 69px;
    position: absolute;
    top: 50%;
    margin-top: -34.5px;
    background: url("../images/icon-slides.png") no-repeat;
    cursor: pointer;
}
.prev{
    left: 234px;
    background-position: -83px;
}
.next{
    right: 0;
    background-position: -124px;
}
.prev:hover{
    background-position: 0 0;
}
.next:hover{
    background-position: -42px;
}
/*轮播图样式结束*/
/*广告样式开始*/
.ad{
    width: 100%;
    height: 170px;
    margin-top: 15px;
    font-size: 12px;
}
.ad>ul{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    float: left;
    padding: 3px;
    box-sizing: border-box;
}
.ad>img{
    float: left;
    width: 316px;
    margin-left: 14.66px;
    transition: all .2s linear;
}
.ad>img:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.ad li{
    width: 75.3px;
    float: left;
    padding: 21.5px 0;
}
.ad li:nth-child(2),.ad li:nth-child(5){
    border-left: 1px solid #665e57;
    border-right: 1px solid #665e57;
}
.ad a{
    color: rgba(255,255,255,.7);
}
.ad i{
    font-size: 22px;
}
.ad li:nth-child(1),.ad li:nth-child(2),.ad li:nth-child(3){
    border-bottom: 1px solid #665e57;
}
/*广告样式结束*/
/*小米闪购开始*/
.sg{
    margin-top: 26px;
}
.title{
    line-height: 58px;
    font-weight: 200;
    font-size: 22px;
    color: #333;
    text-align: left;
}
.jt{
    float: right;
}
.jt>span{
    display: inline-block;
    width: 36px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #e0e0e0 ;
    float: left;
    text-align: center;
    color: #e0e0e0;
    margin-top: 16px;
}
.jt>span:first-child{
    border-right: none;
}
.goods-list>div{
    width: 234px;
    height: 340px;
    background-color: rgba(0,0,0,0.02);
    float: left;
    margin-right: 14px;
    border-top: 1px solid #e53935;
}
.goods-list>div:nth-child(2){
    border-top-color: #ffac13;
}
.goods-list>div:nth-child(3){
    border-top-color: #83c44e;
}
.goods-list>div:nth-child(4){
    border-top-color: #2196f3;
}
.goods-list>div:last-child{
    margin-right: 0;
}
.goods-list img{
    width: 160px;
    margin-top: 40px;
    margin-bottom: 22px;
}
.goods_title{
    color: #212121;
}
.desc{
    font-size: 12px;
    color: #b0b0b0;
    height: 18px;
    margin-bottom: 12px;
    margin-top: 6px;
}
.price{
    color: #ff6709;
}
.price del{
    color: #b0b0b0;
}
.ad_img{
    width: 1226px;
    margin: 40px 0;
}
/*小米闪购结束*/
.container{
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}
/*手机样式开始*/
.checkAll{
    float: right;
    font-size: 16px;
    color: #424242;
    transition: all .4s;
}
.checkAll:hover{
    color: #ff6700;
}
.box_bd{
    width: 1226px;
    height: 614px;
}
.box_bd_left,.box_bd_right{
    height: 614px;
    float: left;
}
.box_bd_left{
    width: 234px;
    transition: all .2s linear;
}
.box_bd_right{
    width: 992px;
}
.box_bd_left>img{
    width: 100%;
}
.box_bd_right>div{
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    position: relative;
    transition: all .2s linear;
    overflow: hidden;
}
.box_bd_right img{
    width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box_bd_right .desc{
    width: 214px;
    margin: 6px auto 12px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yh{
    width: 64px;
    height: 20px;
    display: inline-block;
    background-color: #e53935;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}
.box_bd_right>div:hover,.box_bd_left:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,0,0,.18);
}
/*手机样式结束*/
/*家电样式开始*/
.box_bd_left>div{
    width: 234px;
    height: 300px;
    margin-bottom: 14px;
    transition: all .2s linear;
}
.box_bd_left>div>img{
    width: 234px;
}
.jd_box .box_bd_left:hover{
    transform: translateY(0);
    box-shadow: 0 0 0 #f5f5f5;
}
.jd_box .box_bd_left>div:hover{
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,0,0,.18);
}
.jd_hidden{
    width: 100%;
    height: 76px;
    background-color: #ff6700;
    position: absolute;
    left: 0;
    top: 100%;
    transition: all .2s linear;
}
.box_bd_right>div:hover .jd_hidden{
    top: 224px;
}
.js_nav{
    float: right;
}
.js_nav li{
    float: left;
}
.js_nav a{
    font-size: 16px;
    margin-left: 30px;
    padding-bottom: 3px;
    color: #424242;
    transition: border-bottom .5s;
}
.js_nav>li:first-child>a{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.js_nav a:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
/*家电样式结束*/












